/Case Study Report (042).docx
/casestudy
/chart.umd.min.js
/final project.pdf
/Gemini_Generated_Image_y9pwkry9pwkry9pw.png
/hardware_code.txt
/Notes
/oximeter-max-30102-mugdho Copy.zip
/PROJECT FORMAT.docx
/project report 1.pdf
/project report.pdf
/project_simple_english.docx
/RA2311004020046 (ASWIN A) BIOMEDICAL PROJECT.pdf
/RA2311004020046 (ASWIN A) BIOMEDICAL PROJECT.pdf.docx
/RA2311004020046 (ASWIN A) BIOMEDICAL_PROJECT.pdf
/RA2311004020046 (ASWIN A) PROJECT.pdf
/report
/Section10_Pharmacology_Treatment (1).docx
/server.py
/Smart_Vital_Monitor_Project_Report.docx